New Gram

<% if @gram.errors.present? %>
    <div>
        <%= @gram.errors.full_messages %>
    </div>
<% end %>

<%= form_for @gram do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    
    <div>
        <%= f.label :location_code %>
        <%= f.text_field :location_code %>
    </div>
    
    <div>
        <%= f.submit %>
    </div>
<% end %>