New Gram

<% if @gram.errors.present? %>
    <div>
        <%= @gram.errors.full_messages %>
    </div>
<% end %>

<%= form_for @gram do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    
    <div>
        <%= f.label :location_code %>
        <%= f.country_select :location_code, {include_blank: true, priority_countries: ["SG", "MY"]} %>
    </div>
    
    <div>
        <%= f.submit %>
        <%= link_to "Back", grams_path %>
    </div>
<% end %>