<div>
<%= image_tag @gram.image_url %>
</div>
<div>
<%= @gram.title %>
</div>
<div>
<%= @gram.description %>
</div>
<div>
<%= country_name(@gram.location_code) %>
</div>

<%= link_to 'Index', grams_path %>
